.row
  .col-sm-6.col-12
    %h1 Courses
  .col-sm-4.col-12
    .form-inlie.my-2.my-lg-0
      = form_tag(courses_path, method: :get) do
        .input-group
          = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search", class: "form-control"
          %span.input-group-append
            %button.btn.btn-primary-btn-sm{:type => "submit"}
              %span.fa.fa-search{"aria-hidden" => "true"}
  .col-sm-2.col-12
    = link_to 'New Course', new_course_path, class: 'btn btn-primary btn-block pull-right'
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course
